<div id="<%= dom_id invoice %>">
  <p>
    <strong>Date:</strong>
    <%= invoice.date.to_s(:long) %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= invoice.company %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= invoice.tax %> %
  </p>

  <p>
    <strong>Sales person:</strong>
    <%= invoice.sales_person %>
  </p>

</div>
