<p style="color: green"><%= notice %></p>

<div class="row">
  <h1>Invoices</h1>
  <div class="pull-right range-query">
    <%= form_tag invoices_path, method: :get do %>
      <%= text_field_tag 'search[date_from]', @search.date_from %>
      <%= text_field_tag 'search[date_to]', @search.date_to %>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="accordion" id="invoices">
  <% @invoices.each do |invoice| %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading<%= invoice.date.to_s(:number) %>">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= invoice.date.to_s(:number) %>" aria-expanded="true" aria-controls="collapse<%= invoice.date.to_s(:number) %>">
          <%= invoice.company %>
        </button>
      </h2>
      <div id="collapse<%= invoice.date.to_s(:number) %>" class="accordion-collapse collapse show" aria-labelledby="heading<%= invoice.date.to_s(:number) %>" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <%= render invoice %>
          <p>
            <%= link_to "Show this invoice", invoice %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New invoice", new_invoice_path, class: "btn btn-primary" %>
