<p style="color: green"><%= notice %></p>

<%= render @invoice %>

<div>
  <%= link_to "Edit this invoice", edit_invoice_path(@invoice), class: "btn btn-sm btn-warning" %> |
  <%= link_to "Back to invoices", invoices_path, class: "btn btn-sm btn-secondary" %>

  <%= button_to "Destroy this invoice", @invoice, method: :delete, class: "btn btn-sm btn-danger" %>
</div>
