<ul class="nav nav-tabs justify-content-end">
	<li class="nav-item">
		<%= link_to 'Home', root_path, class: "nav-link active" %>
	</li>
	<li class="nav-item">
		<%= link_to 'About', welcome_about_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
		<%= link_to 'Contact', welcome_contact_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
		<%= link_to 'Features', welcome_features_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
		<%= link_to 'Pricing', welcome_pricing_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
		<%= link_to 'FAQs', welcome_faq_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
		<%= link_to 'Invoices', invoices_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
		<%= link_to 'Login', root_path, class: "nav-link" %>
	</li>
</ul>
